a.delete, a.delete:visited {
    padding-top: 2%;
    padding-right: 2%;
    color: brown !important;
}

.navbar-right li a {
    text-align: right;
}

.card {
    margin: 6%;
    padding: 3%;
    text-align: center;
    color: #fff;
    font-size: 22px;
}

.card-main {
    border-bottom: 3px solid #fff;
}

.card-edit {
    padding-top: 1%;
}

.card-edit-text {
    padding: 1%;
}

.change-list-text {
    padding-top: 4%
}

.categories {
    text-align: center;
    padding: 5%;
}

.categories-list {
    padding-top: 2%;
    border-top: 3px solid #fff;
}

.add-category-text {
    padding-bottom: 2%;
}

.top-paginator {
    padding-top: 2%;
}

.create-form {
    padding: 4%;
}

a:visited {
    color: blanchedalmond;
}

a:link {
    color: blanchedalmond;
}

a:hover {
    color: #cc9c5e
}