{% extends 'tasks/base.html' %}
{% block title %}Категории{% endblock title %}
{% block content %}

<div class="categories bg-dark">

    <div class="add-category-text">
        <a href="{% url 'create category' %}" class="text-info display-4">Создать категорию<br></a>
        <a class="delete" href="{% url 'delete all categories' %}">Удалить все категории</a>
    </div>
    <div class="categories-list">
        {% for object in object_list %}
        <div class="text-white"><a href="{% url 'category related tasks' object.slug %}">{{ object.title }}</a></div>
        {% endfor %}
    </div>
</div>
{% endblock content %}