{% extends 'tasks/base.html' %}

{% block title %}Ваши задачи{% endblock title %}

{% block content %}
<div class="top-paginator">
<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link bg-dark" href={% if has_prev is True %}"/?page={{ data.previous_page_number }}{% else %}#{% endif %}">Предыдущая</a></li>
    <li class="page-item"><a class="page-link bg-dark btn disabled" href="#">{{ data.number}}</a></li>
    <li class="page-item"><a class="page-link bg-dark" href={% if has_next %}"/?page={{ data.next_page_number}}{% else %}#{% endif %}">Следующая</a></li>
  </ul>
</nav>
</div>
{% for task in data %}
<div class="card bg-dark">
<h2>{{ task.title }}</h2>
<p>{{ task.description }}</p>
<p><span class="font-italic">Создана:</span> {{ task.created_at }}</p>
<p><span class="font-italic">Крайник срок выполнения:</span> {{ task.deadline }}</p>
<p><span class="font-italic">Статус выполнения:</span> {{ task.completed }}</p>
<p><span class="font-italic">Категория:</span> {{ task.category_title }}</p>
<p><span class="font-italic">Список тэгов:</span> {{ task.tags }}</p>
<div>{{ task.history }}</div>
<a href={% url 'update task' task.id %}>Редактировать задачу</a>
<a href={% url 'delete task' task.id %}>Удалить задачу</a>
</div>
{% endfor %}
<nav>
  <ul class="pagination justify-content-center">

    <li class="page-item"><a class="page-link bg-dark" href={% if has_prev is True %}"/?page={{ data.previous_page_number }}{% else %}#{% endif %}">Предыдущая</a></li>
    <li class="page-item"><a class="page-link bg-dark btn disabled" href="#">{{ data.number}}</a></li>
    <li class="page-item"><a class="page-link bg-dark" href={% if has_next %}"/?page={{ data.next_page_number}}{% else %}#{% endif %}">Следующая</a></li>
  </ul>
</nav>
{% endblock content %}